svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 130px;
}

.admin-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    color: #6F4F37;
    font-family: serif;
    position: relative;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    width: 100%;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 3px;
}

.search-form input,
.search-form select,
.search-form button {
    display: flex;
    justify-content: space-between;
    flex: 1;
    min-width: 200px;
    text-align: center;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
}

.search-form input:focus,
.search-form select:focus,
.search-form button:focus {
    border-color: #6F4F37;
    box-shadow: 0 0 8px rgba(111, 79, 55, 0.3);
}

.search-form input,
.search-form select {
    background-color: #fff;
}

.search-form button {
    background-color: #a67957;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.search-form button:hover {
    background-color: #4b2f1a;
}

.container {
    max-width: 900px;
    margin: 20px auto;
}

.table {
    width: 100%;
    text-align: center;
    border: 2px solid #333;
}

.table tbody td {
    border: 1px solid #FFF;
    padding: 20px 30px;
    text-align: left;
    font-size: 18px;

}

.table thead th {
    background-color: #6F4F37;
    border: 1px solid #6F4F37;
    color: #FFF;
    text-align: left;
    padding: 20px 30px;
    font-size: 18px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 10px 100px;
}

.btn-success {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff !important;
    background-color: #cfc8c8 !important;
    border-color: #cfc8c8 !important;
}

.pagination-container .page-link {
    color: #6F4F37;
    border: 1px solid #6F4F37;
}

.pagination-container .page-item.active .page-link {
    background-color: #6F4F37;
    border-color: #6F4F37;
    color: white;
}

.pagination-container .page-link:hover {
    background-color: #6F4F37;
    border-color: #6F4F37;
    color: white;
}

.detail-btn {
    background-color: #f8f0f0 !important;
    border-color: #a67957 !important;
    color: #a67957 !important;
}

.detail-btn:hover {
    background-color: #f8f0f0 !important;
    border-color: #a67957 !important;
}