.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header__logo {
    color: #6F4F37;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    flex: 0.7;
    font-family: serif;
}

.header__button {
    background: #e9e6e4;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #6F4F37;
    margin-left: 10px;
    font-family: serif;
}