.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* 適宜調整 */
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 1000;
}

.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding-top: 50px;
    position: relative;
    /* ヘッダーの高さ分を確保 */
}

.create-container h2 {
    position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
        font-weight: bold;
    color: #333;
}
