body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    width: 100%;
    margin-top: 30px;
    padding: 120px;
    background-color: #fff;
}

.contact-container h2 {
    text-align: center;
    font-family: serif;
    color: #6F4F37;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.form_container p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.form_container label {
    width: 20%;
    text-align: left;
    line-height: 1.5;
    color: rgb(133, 113, 86);
}

.form_container input:not(.content_submit),
.form_container select,
.form_container textarea {
    width: 65%;
    padding: 5px;
    text-align: left;
    background: #e6e4e4;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    color: rgb(133, 113, 86);
}

.name-group {
    display: flex;
    justify-content: space-around;
    width: 50%;
    gap: 20px;
}

.name-group input {
    width: 50%;
}

.content_submit {
    width: 20%;
    background: rgb(133, 113, 86);
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    position: static;
    margin: 30px auto 0;
    display: block;
}