body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container {
    width: 50%;
        padding: 20px;
        background: #FFFDD0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
        font-size: 24px;
        color: #333;
}

.input-group {
    margin-bottom: 15px;
        text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.content_submit {
    background: #FFF8E1;
        padding: 10px 20px;
        text-decoration: none;
        color: #6F4F37;
}